<h1>Login</h1>
<%= form_for @changeset, @action, [method: "post"], fn f -> %>
    <div>
        <%= label f, :email %>
        <%= text_input f, :email %>
        <%= error_tag f, :email %>
    </div>

    <div>
        <%= label f, :password %>
        <%= password_input f, :password %>
        <%= error_tag f, :password %>
    </div>

    <%= submit "Submit" %>
<% end %>
